<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="MainConnectionString" connectionString =" Data Source = localhost\sqlexpress; Initial Catalog = TournamentSystem; Integrated Security=True;" providerName="System.Data.SqlClient"></add>
		<!--<add name ="MainConnectionString" connectionString="server=localhost\sqlexpress; database=TournamentManager; user id=testuser; password=test123;" providerName="System.Data.SqlClient"></add>-->
	</connectionStrings>
</configuration>