@model TournamentSystem.Models.Person

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersonEmail }) |
    <a asp-action="Index">Back to List</a>
</div>
